body {
  margin: 0;
  padding: 0;
  background-color: rgb(38, 160, 123);
  font-family: 'Roboto', sans-serif;
  color:rgba(226, 240, 241, 0.945);

}
.container{
 
 padding: 100px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.root {
  font-family: 'Roboto';
}
.root p{
  
}